 /* general */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #FAF2D6;
}
#first-column{
  position: absolute;
  background: #8FCC8F;
  width: 300px;
  height: 100%;
}
#left-column {
  position: absolute;
  margin-left: 300px;
  width: calc(100% - 600px);
  height: 100%;
}
#left-top-row {
  background: #8FCC8F;
  height: 100px;
}
#main {
  background: #BFE8BF;
  height: calc(100% - 220px);
  overflow-y: scroll;
}
#left-bottom-row {
  background: #8FCC8F;
  height: 120px;
}

#right-column {
  position: relative;
  float: right;
  width: 300px;
  height: 100%;
}
#right-top-row {
  background: #91D991;
  height: 300px;
}
#menu-place {
  background: #ADDFAD;
  height: calc(100% - 300px);
}
#right-bottom-row {
}

/* search */
#searchBar{
  width: auto;
  float: right;
  margin-right: 35px;
  margin-top: 30px;
}
#searchText{
  width: 250px;
  height: 42px;
  padding-left: 7px;
  border-radius: 42px;
  border: 2px solid #2E6B42;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
#searchText:focus {
  width: 300px;
}
#searchBtn{
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  cursor:pointer;
}
#searchBtn:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #2E6B42;
}
/* profile */
/* menu */
/* text input */

/*message*/
#message{
  resize: none;
  width: 560px;
  float: right;
  margin-right: 35px;
  margin-top: 17px;
  border: 2px solid #2E6B42;
  border-radius: 40px;
  padding: 15px;
  background: #F9F0DA;
}
#emodziBtn {
  width: 0px;
  height: 120px;
  background: none;
  border: none;
  position: absolute;
  right: 620px;
  font-size:22px;
  cursor:pointer;
  transition:border 300ms ease;
}
#emodziBtn:before {
  content: "\f118";
  font-family: FontAwesome;
  color: #2E6B42;
}
#bttn {
  width: 0px;
  height: 120px;
  background: none;
  border: none;
  position: absolute;
  right: 29px;
  font-size: 18px;
  cursor:pointer;
}
#bttn:before {
  content: "\f1d8";
  font-family: FontAwesome;
  color: #2E6B42;
}
/*logo*/
#logo-img{
  position: absolute;
  width: 75px;
  height: 53px;
  top: 77px;
  left: 12px;
}
#name-img{
  position: absolute;
  width: 220px;
  height: 90px;
  top: 15px;
  left: 82px;
}
/*
Colors bar:
ADDFAD - light green
50C878 - bright green
3C9A5B - shadow bright green
7D868C - text color
E2EBF3 - input place color
+ white

Fonts bar:
'Сomic Sans MS', Cursive (14/24) - h
*/
/*file attachment*/
#label input[type=file]{
  outline:0;
  opacity:0;
  pointer-events:none;
  user-select:none
}
#label{
  width:0px;
  background: none;
  border: none;
  position: absolute;
  display:block;
  padding:0em;
  transition:border 300ms ease;
  cursor:pointer;
  right: 660px;
  bottom: 18px;
}
#label i{
  display:block;
  font-size:27px;
}
#label i,
#label .title{
  color:#2E6B42;
}
#label:hover i,
#label:hover .title{
  color:#ADDFAD;
}
/*меню*/
.menu {
  position: fixed;
  list-style: none;
  width: 250px; 
  float: left;
  margin-top: 90px;
  margin-left: 25px;
}
.menu li {
   margin-top: 15px; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 24px; 
}
.menu li a:first-child {
   display: block; 
   padding: 5px 20px;  
   background: #8FCC8F; 
   color: #186423; 
   text-decoration: none; 
   position: relative;
   border-radius: 40px;
}
.menu li a:first-child:hover {
   background: #BFE8BF; 
   color: #186423;
   transform: scale(1.1);
}
#menu-place h1 {
  position: absolute;
  margin-top: 15px;
  margin-left: 25px;
  font-family: 'Сomic Sans MS', Cursive;
  font-weight: 500;
  font-size: 20px;
  color: #186423;
}
/* стили модального окна */
.content {
  top: -100%;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  width: 85%;
  border: 1px solid #186423;
  background: #BFE8BF;
  border-radius: 20px;
  min-width: 320px;
  max-width: 600px;
  height: 600px;
  position: fixed;
  padding: 15px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
/* внешняя тень */
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  transform: translate(-50%, -500%);
  transition: transform 0.6s ease-out;
}
/* активируем блок */
.overlay:target+.content {
  transform: translate(-50%, 0);
  top: 10%;
} 
/* формируем кнопку close */
.exit {
  top: -68px;
  right: -577px;
  width: 10px;
  height:40px;
  position: absolute;
  background-color: #808080;
  box-shadow: 0px 0px 10px #000000;
  transition: all ease .8s;
  border: 1px solid #186423;
  border-radius: 15px;
}
.exit:hover {
  transform: rotate(360deg);
}
