 /* general */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #FAF2D6;
}
#first-column{
  position: absolute;
  background: #8FCC8F;
  width: 300px;
  height: 100%;
}
#left-column {
  position: absolute;
  margin-left: 300px;
  width: calc(100% - 600px);
  height: 100%;
}
#left-top-row {
  background: #8FCC8F;
  height: 100px;
}
#main {
  background: #BFE8BF;
  height: calc(100% - 220px);
  overflow-y: scroll;
}
#left-bottom-row {
  background: #8FCC8F;
  height: 120px;
}

#right-column {
  position: relative;
  float: right;
  width: 300px;
  height: 100%;
}
#right-top-row {
  background: #91D991;
  height: 300px;
}
#menu-place {
  background: #ADDFAD;
  height: calc(100% - 300px);
}
#right-bottom-row {
}

/* search */
#searchBar{
  width: auto;
  float: right;
  margin-right: 35px;
  margin-top: 30px;
}
#searchText{
  width: 250px;
  height: 42px;
  padding-left: 7px;
  border-radius: 42px;
  border: 2px solid #2E6B42;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
#searchText:focus {
  width: 300px;
}
#searchBtn{
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  cursor:pointer;
}
#searchBtn:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #2E6B42;
}
/* profile */
/* menu */
/* text input */

/*message*/
#comment{
  resize: none;
  width: 560px;
  float: right;
  margin-right: 35px;
  margin-top: 17px;
  border: 2px solid #2E6B42;
  border-radius: 40px;
  padding: 15px;
  background: #F9F0DA;
}
#message {
  width: auto;
  float: right;
  margin-right: 40px;
  margin-top: 16px;
}
#emodziBtn {
  width: 0px;
  height: 120px;
  background: none;
  border: none;
  position: absolute;
  right: 620px;
  font-size:22px;
  cursor:pointer;
  transition:border 300ms ease;
}
#emodziBtn:before {
  content: "\f118";
  font-family: FontAwesome;
  color: #2E6B42;
}
#message {
  width: 590px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #2E6B42;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
#bttn {
  width: 0px;
  height: 120px;
  background: none;
  border: none;
  position: absolute;
  right: 29px;
  font-size: 18px;
  cursor:pointer;
}
#bttn:before {
  content: "\f1d8";
  font-family: FontAwesome;
  color: #2E6B42;
}
/*logo*/
#logo-img{
  position: absolute;
  width: 75px;
  height: 53px;
  top: 77px;
  left: 12px;
}
#name-img{
  position: absolute;
  width: 220px;
  height: 90px;
  top: 15px;
  left: 82px;
}
/*
Colors bar:
ADDFAD - light green
50C878 - bright green
3C9A5B - shadow bright green
7D868C - text color
E2EBF3 - input place color
+ white

Fonts bar:
'Сomic Sans MS', Cursive (14/24) - h
*/
/*file attachment*/
#label input[type=file]{
  outline:0;
  opacity:0;
  pointer-events:none;
  user-select:none
}
#label{
  width:0px;
  background: none;
  border: none;
  position: absolute;
  display:block;
  padding:0em;
  transition:border 300ms ease;
  cursor:pointer;
  right: 660px;
  bottom: 18px;
}
#label i{
  display:block;
  font-size:27px;
}
#label i,
#label .title{
  color:#2E6B42;
}
#label:hover i,
#label:hover .title{
  color:#ADDFAD;
}
